-f https://download.pytorch.org/whl/torch_stable.html
black
bokeh
boto3
flake8
gensim
ginza
ipywidgets
jupyterlab
jupyterlab_code_formatter
jupyterlab-git
jupyter-contrib-nbextensions
mecab-python3
numpy
pandas
pyknp
regex
requests
sacremoses
scikit-learn
scipy
seaborn
sentencepiece
torch==1.8.1+cpu
torchtext==0.9.1
tqdm
transformers